[Desktop Entry]
Name=radeontop
GenericName=GPU Process Monitor for AMD
Type=Application
Terminal=true
Exec=radeontop
Icon=amd
Categories=System;Monitor;
X-AppImage-Integrate=false

