[Desktop Entry]
Version=1.0
Name=Notesnook Theme Builder
Comment=Web based theme builder for notesnook app
Exec=sh -c 'XAPP_FORCE_GTKWINDOW_ICON="/home/war/.local/share/ice/icons/NotesnookThemeBuilder.png" firefox --class WebApp-NotesnookThemeBuilder3019 --name WebApp-NotesnookThemeBuilder3019 --profile /home/war/.local/share/ice/firefox/NotesnookThemeBuilder3019 --no-remote "https://theme-builder.notesnook.com"'
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=cs-themes
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-NotesnookThemeBuilder3019
StartupNotify=true
X-WebApp-Browser=Firefox
X-WebApp-URL=https://theme-builder.notesnook.com
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
