headerbar {
    min-height: 35px;
}

headerbar button.titlebutton,
headerbar button.titlebutton image {
    min-width: 33px;
    min-height: 33px;
    -gtk-icon-transform: scale(1.4);
    background-size: 33px 33px;
}
