headerbar {
    min-height: 36px;
}

headerbar button.titlebutton,
headerbar button.titlebutton image {
    min-width: 30px;
    min-height: 30px;
    -gtk-icon-transform: scale(1.5);
    background-size: 24px 24px;
}
